tmp
.DS_Store
.bundle
db/*.sqlite3
db/schema.rb
log/*.log
log/*.db 
log/newrelic_agent_store.db
tmp/**/*
tmp
*.swf
*.LOCAL.*
*.REMOTE.*
*.BASE.*
public/dynamic_assets/**/*
public/system/**/*
public/swf
public/swf/**/*
*nohup.out
webrat.log
.rvmrc
webrat-*.html
vendor/gems*
vendor/bundle
public/cache
public/cache/*
coverage/*
hudson
*.pid
load_testing/data
load_testing/results
*.orig
*.swp
dump.rdb
db/schema.rb
resque_web.log
resque_web.url
node_modules
